-# flashcard player controls
- menu1 = %w{flip shfl unsh gnext gprev reset quit}

- unless @skip_menu
  %dl
    - menu1.each do |item|
      %dt
        = link_to( item, "/#{item}", { :title => "player action: #{item}" } )
%dl
  %dt= link_to( "settings &raquo;", "/settings", { :title => "Change settings for flashcards." } )
  %dt= link_to( "source &raquo;", "/source", { :title => "Change source for flashcards." } )
  %dt= link_to( "flashcards &raquo;", "/curr", { :title => "Change view to flashcards." } )
  %dt= link_to( "lists &raquo;", "/lists", { :title => "Change view to lists." } )
- unless @recording_file.nil?
  %audio{ :controls => '', :controlsList => "nodownload" }
    :javascript
      var audio = document.querySelector('audio');
      audio.currentTime = #{@time};
    %source{ :src => "/recordings/#{@recording_file}", :type => "audio/ogg"}
