%h3  Welcome to DrillTutor&trade;
%p   
  DrillTutor uses your personal language notes to construct Flashcards 
  or Lists which you use as drills to improve your language skills.
  Lesson summaries for any topic can refresh your understanding.
%p
  DrillTutor is topics-based. Organize your
  notes around any topics which are meaningful to your study program:
  Grammatical (adverbs, adjectives, plurals) or
  Subject (careers, work, food, travel).
%p
  DrillTutor source materials can be: Vocabulary, Sentences, 
  Phrases, Opposites, Dialogs, Readings, Glossaries, and a Dictionary. 
  Integrate them with audio recordings for playback during a drills.
%br
%h6 
  Try: &ensp;
  = link_to( "Flashcards &raquo;", "/start", { :title => "Start player" } )
  &ensp; or &ensp;
  = link_to( "Lessons &raquo;", "/lessons/def", { :title => "Do a lesson" } )
  &ensp; or &ensp;
  = link_to( "Lists &raquo;", "/lists", { :title => "Display List" } )
%h6 
  Your selection: &emsp;
  = link_to( "Change settings &raquo;", "/settings", { :title => "Change settings for selecting flashcards." } )
%br
%br
%br
%br
%i
  Note: This is a working demonstration of DrillTutor capabilities.
  Click link below and read all disclaimers before proceeding.
%i
  = link_to( "Read Disclaimers &raquo;", "/disclaimers", { :title => "Disclaimers" } )

