%h6 Lesson: #{@l.title}
.intro
  %p #{@l.description}
  %p #{@l.introduction}
%hr
.lessons
  %ul
    - @l.fc_data[@cur_ptr].split(/#/).each do |item|
      - unless item.empty?
        %li= item
  %p &emsp;
  = link_to( "&laquo;", "/lessons/p", { :id => "left-prev" } )
  = link_to( "&raquo;", "/lessons/n", { :id => "right-next" } )

