%h6 #{@source}: #{@topic} list 
.list
  - if @text
    - @list.each do |front, rear|
      %p= front
  - else
    - xleft = @list.length.div(2)
    = haml :list_column, :locals => {:mylist => @list[0..xleft-1]}
    = haml :list_column, :locals => {:mylist => @list[xleft..@list.length-1]}
