%h6 #{@source}: #{@topic} list 
.list
  - if @text
    - @list.each do |front, rear|
      %p= front
  - else
    - xleft = @list.length.div(2)
    .column
      %ul
        - @list[0..xleft-1].each do |front, rear|
          %li= front
    .column
      %ul
        - @list[xleft..@list.length-1].each do |front, rear|
          %li= front
