%h5 Flashcard Settings
= form('/settings', method=:post) do |f|
  = f.label(:topic, 'Topic for Flashcards:&emsp;')
  = f.select(:topic, Topics.sorted_keys, {:value => Topics.default_topic})
  %br
  = f.label(:source, 'Source for Flashcards:&emsp;')
  = f.select(:source, FlashManager::SOURCE_TYPES, {:value => 'Topics'})
  %br
  = f.label(:order, 'Selection order:&emsp;')
  = f.select(:order, FlashManager::SELECTOR_TYPES, {:value => 'ordered'})
  %br
  = f.label(:sizer, 'Group size:&emsp;')
  = f.select(:sizer, FlashManager::GROUP_SIZES, {:value => '10'})
  %br
  = f.label(:side, 'Side to display:&emsp;')
  = f.select(:side, FlashManager::SIDE_TYPES, {:value => 'front'})
  = link_to( 'cancel', "/", { :id => "cancel", :title => "cancel setting changes" } )
  = submit( 'update', :value => 'update settings »' )

